
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;

}
body{
    font-family: "Fira Mono", monospace;
  font-weight: 400;
  font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    color: #616161;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 16px;
}
p{
    color: #616161;
    font-weight: bold;
}
#container{
    width: 80%;
    margin-top: 30px;
}
#search{
    outline:none;
    width: 65%;
}
#search, #button{
    padding: 4px;
    margin-right: 5px;
    border: none;
    border-radius: 7px;
    background-color: rgba(72, 18, 134, 0.711);
    text-align: center;
    color: white;
    
}
#search::placeholder{
    color: white;
}
#button{
    width: 20%;
    height: 30px;
    box-shadow: 1px 1px 10px red;
    cursor: pointer;
}
#button:hover{
    transform: scale(1.1);
    transition: 0.5s;
    background-color: rgba(18, 134, 64, 0.711);
}
#button:active{
    transform: translate(2px, 2px);
    box-shadow: none;
}
